body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	height: 100%;
	background: #3f3f3f;
}
.modal-content {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 10px;
	opacity: 0.95;
}
.modal-open {
    overflow-y: scroll !important;
    padding-right: 0px !important;
}